<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/myHead.ejs') %>
    <title>Home</title>
  </head>
  <body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
      <main class="main__container my-5">
        <article class="main__article col-md-9">
          <div class="article__text mb-4">
            <h3 class="mb-4 text-center fw-bold">
              <%= articleIndividual.title %>
            </h3>
            <p class=""><%= articleIndividual.content%></p>
          </div>
          <figure class="mx-auto" style="width: 45%; height: 55%">
            <img
              style="width: 100%; height: 100%"
              src="<%= articleIndividual.image %>"
              alt=""
            />
            <p class="text-center" style="font-size: 12px">
              <%= articleIndividual.createDate %>
            </p>
          </figure>
          <h6 class="fw-lighter fst-italic">
            Autor: <%= articleIndividual.author.firstname + ' ' +
            articleIndividual.author.lastname + ' // ' +
            articleIndividual.author.email%>
          </h6>
          <div class="my-5">
            <h4>Comentarios para este artículo</h4>
            <% for (const iterator of articleIndividual.comments) { %>
            <p><%= iterator.content %></p>
            <% } %>
          </div>
          <form action="/create/<%= articleIndividual.id %>" method="POST" class="">
            <div class="mb-3">
              <label for="title" class="form-label">Title Comment</label>
              <input
                type="text"
                class="form-control"
                name="title"
                id="title"
                placeholder="Enter title..."
              />
            </div>
            <div class="my-2">
              <label for="content" class="form-label">Comments</label>
              <textarea
                class="form-control"
                id="content"
                name="content"
                placeholder="Add your comment here"
                rows="3"
              ></textarea>
            </div>
            <div class="mt-3">
              <label for="createDate" class="form-label">Date Comment</label>
              <input
                class="form-control"
                type="date"
                id="createDate"
                name="createDate"
              />
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-success btn-sm">
                <i class="fas fa-check"></i> Send</button>
            </div>
          </form>

          <div class="mb-3 px-3 d-flex justify-content-center my-4">
            <a href="/" class="btn btn-outline-dark btn-sm mx-6"
            ><i class="fas fa-home"></i> home</a
            >
          </div>
        </article>
      </main> 
    </div>
    <%- include ('partials/footer.ejs') %>

    <script
      src="https://kit.fontawesome.com/849e8c00db.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
